# Create clients tables

In [1]:
%run ./create_clients_tbls.ipynb

Importing following functions: normalize_date_col(), normalize_str_col(), get_all_files()

file name: clients_MOCK.csv
client_id_col: customer_key / name_col: display_name / date_col: signup_ts / other_columns: ['active_flag', 'currency']
Client_id doesn't follow C01234 formatting! Client_id Value: Cdjao
clients_MOCK.csv failed validation check.

file name: clients_v1.pdf
client_id_col: client_id / name_col: client_name / date_col: created_at / other_columns: ['status']

   client_id          company_name    status cli_join_dt
0     C15499       Zenith Holdings    ACTIVE  2020-05-17
1     C64279       Green Logistics    ACTIVE  2022-11-06
2     C94929              Green Co    ACTIVE  2021-11-27
3     C43677            Apex Group  INACTIVE  2019-05-24
4     C97125       Blue Industries    ACTIVE  2021-09-14
5     C10456         Blue Partners  INACTIVE  2023-11-03
6     C77726       Nimbus Holdings    ACTIVE  2021-09-25
7     C63250         Vertex Supply    ACTIVE  2020-08-24
8     C16655              hooli co    ACTIVE  2021-05-06
9     C98672         Stark Freight    ACTIVE  2019-04-22
10    C83350           Stark Group    ACTIVE  2022-04-27
11    C33266     Hooli Enterprises    ACTIVE  2023-10-01
12    C77577       Zenith Holdings       NaN  2020-07-16
13    C84879     Umbrella Partners  INACTIVE  2020-08-23
14    C11386            Vector LLC  INACTIVE  2023-10-11
15    C22659       Tyrell Partners    ACTIVE  2019-12-15
16    C25055        Stark Partners    ACTIVE  2021-01-14
17    C08929     Nimbus Industries  INACTIVE  2021-09-28
18    C16180      Blue Enterprises    ACTIVE  2023-05-10
19    C94736         Red Logistics  INACTIVE  2022-02-25
20    C49018         Green Freight    ACTIVE  2019-10-18
21    C60889             Wonka LLC  INACTIVE  2021-09-20
22    C57382      Vector Logistics  INACTIVE  2021-03-22
23    C24911       Quantum Freight    ACTIVE  2019-12-28
24    C83948        Wayne Holdings    ACTIVE  2019-01-03
25    C91097        Tyrell Freight  INACTIVE  2021-12-26
26    C82971            Massive Co    ACTIVE  2021-01-19
27    C63096       Initech Freight    ACTIVE  2019-08-16
28    C72495  Umbrella Enterprises    ACTIVE  2023-03-17
29    C70464          Hooli Supply  INACTIVE  2019-09-30
30    C98399           Wayne Group  INACTIVE  2023-02-16
31    C87356      Zenith Logistics    ACTIVE  2022-12-22
32    C80551       Vertex Partners    ACTIVE  2022-11-02
33    C97785        Massive Supply  INACTIVE  2019-01-05
34    C29210         Massive Group    ACTIVE  2023-04-24
35    C99808               Blue Co    ACTIVE  2022-06-15
36    C20405        Initech Supply    ACTIVE  2022-11-01
37    C51553       Hooli Logistics    ACTIVE  2019-10-16
38    C99892         Wayne Freight  INACTIVE  2019-11-17
39    C47375       Vertex Partners  INACTIVE  2023-03-15
40    C14637          Hooli Supply  INACTIVE  2019-02-03
41    C78191   Quantum Enterprises    ACTIVE  2023-05-26
42    C73720           Massive LLC    ACTIVE  2022-07-18
43    C86178            Massive Co    ACTIVE  2020-06-17
44    C15978        Vector Freight  INACTIVE  2023-01-08
45    C14175           Wayne Group    ACTIVE  2020-05-31
46    C92842     Tyrell Industries  INACTIVE  2021-10-08
47    C02145         Zenith Supply  INACTIVE  2023-06-07
48    C03366   Umbrella Industries    ACTIVE  2021-11-15
49    C81739      Massive Partners  INACTIVE  2021-10-01
50    C93089           Blue Supply  INACTIVE  2022-06-27
51    C56067       Hooli Logistics  INACTIVE  2023-08-12
52    C35443          Nimbus Group    ACTIVE  2021-08-19
53    C17172          Apex Freight  INACTIVE  2023-07-11
54    C09581          Wonka Supply    ACTIVE  2019-01-27
55    C17754             Vector Co    ACTIVE  2022-06-20
56    C28306            Tyrell LLC    ACTIVE  2021-05-23
57    C21531             Green LLC    ACTIVE  2021-04-07
58    C86029       Acme Industries  INACTIVE  2020-12-02
59    C34523     Stark Enterprises    ACTIVE  2019-09-26

Validation tests passed. Saved clients_v1.csv to ../output_tables/clients_v1.csv!

file name: clients_v2.csv
client_id_col: id / name_col: name / date_col: acct_open_date / other_columns: ['tier']

   client_id       company_name    tier cli_join_dt
0     C15499    Zenith Holdings  BRONZE  2020-05-17
1     C64279    Green Logistics  SILVER  2022-11-06
2     C94929           Green Co  BRONZE  2021-11-27
3     C43677         Apex Group    GOLD  2019-05-24
4     C97125    Blue Industries  BRONZE  2021-09-14
..       ...                ...     ...         ...
56    C28306         Tyrell LLC  BRONZE  2021-05-23
57    C21531          Green LLC    GOLD  2021-04-07
58    C86029    Acme Industries  BRONZE  2020-12-02
59    C34523  Stark Enterprises  BRONZE  2019-09-26
60    C10456      Blue Partners  SILVER  2023-11-03

[61 rows x 4 columns]

Validation tests passed. Saved clients_v2.csv to ../output_tables/clients_v2.csv!

file name: clients_v3.csv
client_id_col: customer_key / name_col: display_name / date_col: signup_ts / other_columns: ['active_flag', 'currency']

   client_id          company_name active_flag         cli_join_dt currency
0     C15499       ZENITH HOLDINGS           Y 2020-05-17 17:07:28      USD
1     C64279       GREEN LOGISTICS           Y 2022-11-06 01:10:55      USD
2     C94929              GREEN CO           Y 2021-11-27 18:47:49      USD
3     C43677            APEX GROUP           N 2019-05-24 20:16:09      USD
4     C97125       BLUE INDUSTRIES           Y 2021-09-14 12:16:12      USD
5     C10456         BLUE PARTNERS           N 2023-11-03 02:44:17      USD
6     C77726       NIMBUS HOLDINGS           Y 2021-09-25 22:05:52      USD
7     C63250         VERTEX SUPPLY           Y 2020-08-24 08:02:07      USD
8     C16655              HOOLI CO           Y 2021-05-06 15:30:30      USD
9     C98672         STARK FREIGHT           Y 2019-04-22 06:46:53      USD
10    C83350           STARK GROUP           Y 2022-04-27 23:52:57      USD
11    C33266     HOOLI ENTERPRISES           Y 2023-10-01 01:51:47      USD
12    C77577       ZENITH HOLDINGS         NaN 2020-07-16 21:27:12      USD
13    C84879    UMBRELLA PARTNERS            N 2020-08-23 23:44:10      USD
14    C11386            VECTOR LLC           N 2023-10-11 21:12:00      USD
15    C22659       TYRELL PARTNERS           Y 2019-12-15 00:48:14      USD
16    C25055        STARK PARTNERS           Y 2021-01-14 21:30:19      USD
17    C08929     NIMBUS INDUSTRIES           N 2021-09-28 13:44:40      USD
18    C16180      BLUE ENTERPRISES           Y 2023-05-10 23:48:53      USD
19    C94736        RED LOGISTICS            N 2022-02-25 09:51:02      USD
20    C49018         GREEN FREIGHT           Y 2019-10-18 04:39:43      USD
21    C60889             WONKA LLC           N 2021-09-20 19:19:09      USD
22    C57382      VECTOR LOGISTICS           N 2021-03-22 05:01:36      USD
23    C24911       QUANTUM FREIGHT           Y 2019-12-28 08:44:51      USD
24    C83948        WAYNE HOLDINGS           Y 2019-01-03 22:04:00      USD
25    C91097        TYRELL FREIGHT           N 2021-12-26 13:50:33      USD
26    C82971            MASSIVE CO           Y 2021-01-19 10:27:37      USD
27    C63096      INITECH FREIGHT            Y 2019-08-16 04:35:43      USD
28    C72495  UMBRELLA ENTERPRISES           Y 2023-03-17 21:52:59      USD
29    C70464          HOOLI SUPPLY           N 2019-09-30 20:17:33      USD
30    C98399           WAYNE GROUP           N 2023-02-16 09:39:57      USD
31    C87356      ZENITH LOGISTICS           Y 2022-12-22 21:57:48      USD
32    C80551       VERTEX PARTNERS           Y 2022-11-02 03:01:04      USD
33    C97785        MASSIVE SUPPLY           N 2019-01-05 15:59:38      USD
34    C29210         MASSIVE GROUP           Y 2023-04-24 13:36:49      USD
35    C99808               BLUE CO           Y 2022-06-15 20:47:18      USD
36    C20405        INITECH SUPPLY           Y 2022-11-01 19:31:12      USD
37    C51553       HOOLI LOGISTICS           Y 2019-10-16 06:34:48      USD
38    C99892        WAYNE FREIGHT            N 2019-11-17 19:02:03      USD
39    C47375       VERTEX PARTNERS           N 2023-03-15 02:17:01      USD
40    C14637          HOOLI SUPPLY           N 2019-02-03 16:06:57      USD
41    C78191   QUANTUM ENTERPRISES           Y 2023-05-26 11:47:31      USD
42    C73720          MASSIVE LLC            Y 2022-07-18 10:33:24      USD
43    C86178            MASSIVE CO           Y 2020-06-17 04:29:38      USD
44    C15978        VECTOR FREIGHT           N 2023-01-08 05:20:39      USD
45    C14175           WAYNE GROUP           Y 2020-05-31 05:56:28      USD
46    C92842     TYRELL INDUSTRIES           N 2021-10-08 14:22:07      USD
47    C02145         ZENITH SUPPLY           N 2023-06-07 10:44:57      USD
48    C03366   UMBRELLA INDUSTRIES           Y 2021-11-15 11:10:43      USD
49    C81739      MASSIVE PARTNERS           N 2021-10-01 13:21:24      USD
50    C93089          BLUE SUPPLY            N 2022-06-27 00:07:41      USD
51    C56067       HOOLI LOGISTICS           N 2023-08-12 21:56:11      USD
52    C35443          NIMBUS GROUP           Y 2021-08-19 13:36:49      USD
53    C17172          APEX FREIGHT           N 2023-07-11 12:59:02      USD
54    C09581          WONKA SUPPLY           Y 2019-01-27 04:17:24      USD
55    C17754             VECTOR CO           Y 2022-06-20 00:22:54      USD
56    C28306            TYRELL LLC           Y 2021-05-23 09:58:21      USD
57    C21531             GREEN LLC           Y 2021-04-07 17:50:13      USD
58    C86029       ACME INDUSTRIES           N 2020-12-02 16:47:31      USD
59    C34523     STARK ENTERPRISES           Y 2019-09-26 02:55:36      USD

Validation tests passed. Saved clients_v3.csv to ../output_tables/clients_v3.csv!

# Create Invoices tables

In [2]:
%run ./create_invoices_tbls.ipynb

Importing following functions: normalize_date_col(), normalize_str_col(), get_all_files()

file name: invoices_MOCK.csv
invoice_id_col: invoice_id / date_col: invoice_date / shpmnt_col: shipment_type
invoice_id doesn't follow INV-ABC1234 formatting! invoice_id Value: INV-N9Z2HI7fsd
invoices_MOCK.csv failed validation check.

file name: invoices_v1.csv
invoice_id_col: invoice_id / date_col: invoice_date / shpmnt_col: shipment_type

        invoice_id client_id invoice_date    amount currency shipment_type
0      INV-ITBHR2P    C10456   2025-05-22   5235.33      USD          2DAY
1      INV-LWC0YM6    C16655   2024-04-19   3015.04      USD        GROUND
2      INV-7TDN2MF    C63096   2025-07-28   3023.94      USD        GROUND
3      INV-N9Z2HI7    C15499   2025-05-30   3253.71      USD        GROUND
4      INV-M8ZSF57    C93089   2024-07-14   3526.16      USD        GROUND
...            ...       ...          ...       ...      ...           ...
11995  INV-5LPB2GE    C63096   2025-12-06   3191.81      USD        GROUND
11996  INV-CE1RRD5    C86029   2025-09-05  14820.41      USD       EXPRESS
11997  INV-SU0IUIL    C57382   2025-01-26   2571.51      USD        GROUND
11998  INV-FH9UUJM    C17172   2025-05-19  40913.22      USD       FREIGHT
11999  INV-05K9AA2    C98399   2024-07-16   1924.36      USD        GROUND

[12000 rows x 6 columns]

Validation tests passed. Saved invoices_v1.csv to ../output_tables/invoices_v1.csv!

file name: invoices_v2.csv
invoice_id_col: inv_no / date_col: inv_dt / shpmnt_col: ship_type

,invoice_id,client_id,invoice_date,subtotal,tax,total,curr,shipment_type
0,INV-ITBHR2P,C10456,2025-05-22,5235.33,418.83,5654.16,USD,2DAY
1,INV-LWC0YM6,C16655,2024-04-19,3015.04,150.75,3165.79,USD,GROUND
2,INV-7TDN2MF,C63096,2025-07-28,3023.94,302.39,3326.33,USD,GROUND
3,INV-N9Z2HI7,C15499,2025-05-30,3253.71,260.30,3514.01,USD,GROUND
4,INV-M8ZSF57,C93089,2024-07-14,3526.16,176.31,3702.47,USD,GROUND
...,...,...,...,...,...,...,...,...
11995,INV-5LPB2GE,C63096,2025-12-06,3191.81,319.18,3510.99,USD,GROUND
11996,INV-CE1RRD5,C86029,2025-09-05,14820.41,741.02,15561.43,USD,EXPRESS
11997,INV-SU0IUIL,C57382,2025-01-26,2571.51,128.58,2700.09,USD,GROUND
11998,INV-FH9UUJM,C17172,2025-05-19,40913.22,2045.66,42958.88,USD,FREIGHT
11999,INV-05K9AA2,C98399,2024-07-16,1924.36,96.22,2020.58,USD,GROUND

Validation tests passed. Saved invoices_v2.csv to ../output_tables/invoices_v2.csv!

file name: invoices_v3.csv
invoice_id_col: invoice_uid / date_col: issued_on / shpmnt_col: shipment_category

        invoice_id       company_name invoice_date  amount_usd shipment_type
0      INV-ITBHR2P      BLUE PARTNERS   2025-05-22     5654.16          2DAY
1      INV-LWC0YM6           HOOLI CO   2024-04-19     3165.79        GROUND
2      INV-7TDN2MF   INITECH FREIGHT    2025-07-28     3326.33        GROUND
3      INV-N9Z2HI7    ZENITH HOLDINGS   2025-05-30     3514.01        GROUND
4      INV-M8ZSF57       BLUE SUPPLY    2024-07-14     3702.47        GROUND
...            ...                ...          ...         ...           ...
11995  INV-5LPB2GE   INITECH FREIGHT    2025-12-06     3510.99        GROUND
11996  INV-CE1RRD5    ACME INDUSTRIES   2025-09-05    15561.43       EXPRESS
11997  INV-SU0IUIL   VECTOR LOGISTICS   2025-01-26     2700.09        GROUND
11998  INV-FH9UUJM       APEX FREIGHT   2025-05-19    42958.88       FREIGHT
11999  INV-05K9AA2        WAYNE GROUP   2024-07-16     2020.58        GROUND

[12000 rows x 5 columns]

Validation tests passed. Saved invoices_v3.csv to ../output_tables/invoices_v3.csv!

# Create Rate Sheet Table

In [3]:
%run "./create_rate_sheet.ipynb"

rate_sheet.csv table created at ../output_tables/rate_sheet.csv!

  shipment_type  rate
0        GROUND     1
1          2DAY     5
2       EXPRESS    10
3       FREIGHT    20

# Analysis Questions

In [4]:
%run "./analysis questions.ipynb"

,client_id,company_name,invoice_id,invoice_date,invoice_amt,currency,shipment_type,rate
0,C10456,Blue Partners,INV-ITBHR2P,2025-05-22,5654.16,USD,2DAY,5
1,C16655,hooli co,INV-LWC0YM6,2024-04-19,3165.79,USD,GROUND,1
2,C63096,Initech Freight,INV-7TDN2MF,2025-07-28,3326.33,USD,GROUND,1
3,C15499,Zenith Holdings,INV-N9Z2HI7,2025-05-30,3514.01,USD,GROUND,1
4,C93089,Blue Supply,INV-M8ZSF57,2024-07-14,3702.47,USD,GROUND,1
...,...,...,...,...,...,...,...,...
11995,C63096,Initech Freight,INV-5LPB2GE,2025-12-06,3510.99,USD,GROUND,1
11996,C86029,Acme Industries,INV-CE1RRD5,2025-09-05,15561.43,USD,EXPRESS,10
11997,C57382,Vector Logistics,INV-SU0IUIL,2025-01-26,2700.09,USD,GROUND,1
11998,C17172,Apex Freight,INV-FH9UUJM,2025-05-19,42958.88,USD,FREIGHT,20
11999,C98399,Wayne Group,INV-05K9AA2,2024-07-16,2020.58,USD,GROUND,1

Answer to question 1

  client_id         company_name         sum
0    C25055       Stark Partners  2244869.53
1    C94736        Red Logistics  2218130.71
2    C14175          Wayne Group  2151906.65
3    C03366  Umbrella Industries  2108671.57
4    C77726      Nimbus Holdings  2096498.84

Answer to question 2

         company_name year_month        sum
0     Acme Industries    2024-01   29710.94
1     Acme Industries    2024-02   72471.83
2     Acme Industries    2024-03   82602.44
3     Acme Industries    2024-04   32468.28
4     Acme Industries    2024-05   15269.11
...               ...        ...        ...
1290         hooli co    2025-08   79274.49
1291         hooli co    2025-09  101361.63
1292         hooli co    2025-10   56309.51
1293         hooli co    2025-11   78504.04
1294         hooli co    2025-12   50899.40

[1295 rows x 3 columns]

Answer to Question 3 part a

  client_id         company_name         sum
0    C25055       Stark Partners  2186923.01
1    C94736        Red Logistics  2145638.36
2    C14175          Wayne Group  2095712.67
3    C03366  Umbrella Industries  2046015.82
4    C77726      Nimbus Holdings  2028150.87

Answer to Question 3 part b

  client_id         company_name         sum
0    C94736        Red Logistics  1985352.74
1    C25055       Stark Partners  1958102.47
2    C14175          Wayne Group  1867187.99
3    C77726      Nimbus Holdings  1862845.99
4    C03366  Umbrella Industries  1852070.78

Answer to Question 3 part c

  client_id         company_name         sum
0    C25055       Stark Partners  2152194.96
1    C94736        Red Logistics  2072278.81
2    C14175          Wayne Group  2039389.28
3    C03366  Umbrella Industries  2003502.09
4    C60889            Wonka LLC  1995832.07

Answer to Question 4 part a

,client_id,company_name,total_orig_amt,total_new_price,total_savings
0,C82971,Massive Co,1741866.19,928198.01,813668.19
1,C83948,Wayne Holdings,1631001.97,889670.82,741331.16
2,C99892,Wayne Freight,2062937.31,1321909.84,741027.47
3,C25055,Stark Partners,2244869.53,1512361.71,732507.86
4,C94736,Red Logistics,2218130.71,1508896.02,709234.72
5,C99808,Blue Co,1655126.40,950648.56,704477.88
6,C92842,Tyrell Industries,1962423.79,1271400.76,691023.05
7,C15499,Zenith Holdings,1856326.82,1166650.56,689676.26
8,C63250,Vertex Supply,2018888.92,1332444.94,686443.99
9,C77726,Nimbus Holdings,2096498.84,1420508.73,675990.14
10,C84879,Umbrella Partners,1720468.67,1052611.21,667857.46
11,C93089,Blue Supply,1865644.27,1200061.04,665583.25
12,C91097,Tyrell Freight,2006007.96,1348486.23,657521.75
13,C03366,Umbrella Industries,2108671.57,1451925.47,656746.12
14,C63096,Initech Freight,2081632.64,1425159.19,656473.49
15,C70464,Hooli Supply,1930624.11,1282534.15,648089.97
16,C60889,Wonka LLC,2085267.54,1437298.87,647968.70
17,C29210,Massive Group,1906132.54,1259569.14,646563.44
18,C86178,Massive Co,1559596.57,914946.83,644649.72
19,C80551,Vertex Partners,1603991.39,964529.64,639461.80
20,C77577,Zenith Holdings,1749961.57,1111506.66,638454.95
21,C11386,Vector LLC,2022832.83,1393721.95,629110.92
22,C14175,Wayne Group,2151906.65,1524750.80,627155.90
23,C97785,Massive Supply,1996901.51,1374287.25,622614.25
24,C33266,Hooli Enterprises,1767371.40,1150653.30,616718.18
25,C08929,Nimbus Industries,1711549.27,1095107.32,616441.98
26,C78191,Quantum Enterprises,1780460.15,1164075.76,616384.39
27,C16180,Blue Enterprises,1679218.53,1064948.77,614269.77
28,C20405,Initech Supply,1827368.12,1218151.07,609217.07
29,C56067,Hooli Logistics,1615840.20,1018067.88,597772.32
30,C97125,Blue Industries,1743562.11,1152546.76,591015.36
31,C87356,Zenith Logistics,1535305.46,948558.02,586747.41
32,C49018,Green Freight,1976636.91,1399513.85,577123.11
33,C64279,Green Logistics,1882237.58,1305248.09,576989.52
34,C57382,Vector Logistics,1911047.49,1336847.12,574200.40
35,C83350,Stark Group,1910024.55,1338242.40,571782.15
36,C47375,Vertex Partners,1744900.84,1174737.06,570163.84
37,C35443,Nimbus Group,1460670.44,890716.89,569953.58
38,C28306,Tyrell LLC,1729120.38,1163936.93,565183.43
39,C24911,Quantum Freight,1669522.74,1106364.62,563158.14
40,C21531,Green LLC,1798700.21,1242153.76,556546.50
41,C09581,Wonka Supply,1618891.12,1063665.74,555225.38
42,C73720,Massive LLC,1656496.66,1102611.81,553884.87
43,C72495,Umbrella Enterprises,1658788.62,1109375.19,549413.47
44,C81739,Massive Partners,1981579.48,1438606.22,542973.27
45,C98672,Stark Freight,1705608.50,1164351.15,541257.37
46,C43677,Apex Group,1763166.82,1225025.41,538141.42
47,C02145,Zenith Supply,1510646.13,976830.76,533815.39
48,C15978,Vector Freight,1651301.04,1145132.76,506168.29
49,C14637,Hooli Supply,1879966.78,1379013.58,500953.19
50,C16655,hooli co,1653647.62,1161170.11,492477.51
51,C22659,Tyrell Partners,1565034.91,1089316.17,475718.76
52,C51553,Hooli Logistics,1907982.72,1434586.71,473396.01
53,C17172,Apex Freight,1482348.06,1022833.10,459514.99
54,C98399,Wayne Group,1848233.98,1389014.33,459219.66
55,C17754,Vector Co,1433172.31,996695.09,436477.25
56,C10456,Blue Partners,1643965.05,1215686.42,428278.65
57,C34523,Stark Enterprises,1425212.27,1005632.75,419579.55
58,C94929,Green Co,1704460.23,1292556.45,411903.81
59,C86029,Acme Industries,1699814.90,1312979.83,386835.08

Answer to Question 4 part b

Empty DataFrame
Columns: [client_id, company_name, total_savings, savings]
Index: []

Answer to Question 4 part c

   client_id          company_name  total_savings
0     C82971            Massive Co      813668.19
1     C83948        Wayne Holdings      741331.16
2     C99892         Wayne Freight      741027.47
3     C25055        Stark Partners      732507.86
4     C94736         Red Logistics      709234.72
5     C99808               Blue Co      704477.88
6     C92842     Tyrell Industries      691023.05
7     C15499       Zenith Holdings      689676.26
8     C63250         Vertex Supply      686443.99
9     C77726       Nimbus Holdings      675990.14
10    C84879     Umbrella Partners      667857.46
11    C93089           Blue Supply      665583.25
12    C91097        Tyrell Freight      657521.75
13    C03366   Umbrella Industries      656746.12
14    C63096       Initech Freight      656473.49
15    C70464          Hooli Supply      648089.97
16    C60889             Wonka LLC      647968.70
17    C29210         Massive Group      646563.44
18    C86178            Massive Co      644649.72
19    C80551       Vertex Partners      639461.80
20    C77577       Zenith Holdings      638454.95
21    C11386            Vector LLC      629110.92
22    C14175           Wayne Group      627155.90
23    C97785        Massive Supply      622614.25
24    C33266     Hooli Enterprises      616718.18
25    C08929     Nimbus Industries      616441.98
26    C78191   Quantum Enterprises      616384.39
27    C16180      Blue Enterprises      614269.77
28    C20405        Initech Supply      609217.07
29    C56067       Hooli Logistics      597772.32
30    C97125       Blue Industries      591015.36
31    C87356      Zenith Logistics      586747.41
32    C49018         Green Freight      577123.11
33    C64279       Green Logistics      576989.52
34    C57382      Vector Logistics      574200.40
35    C83350           Stark Group      571782.15
36    C47375       Vertex Partners      570163.84
37    C35443          Nimbus Group      569953.58
38    C28306            Tyrell LLC      565183.43
39    C24911       Quantum Freight      563158.14
40    C21531             Green LLC      556546.50
41    C09581          Wonka Supply      555225.38
42    C73720           Massive LLC      553884.87
43    C72495  Umbrella Enterprises      549413.47
44    C81739      Massive Partners      542973.27
45    C98672         Stark Freight      541257.37
46    C43677            Apex Group      538141.42
47    C02145         Zenith Supply      533815.39
48    C15978        Vector Freight      506168.29
49    C14637          Hooli Supply      500953.19